
li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
}
td {
  vertical-align: middle;
  border:solid gray 1px;
  color: gray;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
}
th {
  text-align: left;
  vertical-align: middle;
  font-size: 1em;
  border:solid gray 1px;
  color: black;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
}
table {
  margin-top: 20px;
  border:solid gray 1px;
}
